/*Select all classes to be hidden from prints*/
.class, .footer_text { display:none; }
.class, .btn-primary { display:none; }
.class, .btn-default { display:none; }
.class, .btn-danger { display:none; }
.class, .noprint { display:none; }