p{
    font-size: 24px;
}

.button {
    btn;
    
}
thead{
    color: black;
    font-size: 20px;
    border: 2.5px solid #000000;
    border-color: black;
}

@media screen {
	.table-responsive {
		overflow-x: auto;
		display: block;
        noPrint{ display: block; display: scrollbar}
        yesPrint{ display: block !important; }

	}
}

@media (max-width: 870px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 10px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.responsive-iframe-container object,  
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.table {
     border: 2.5px solid #000000;
     border-color: black;
}

.table-responsive {

    border: none;
    margin: 8px auto;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td {
    border: 1.5px solid #000000;
    padding: 3px;
}

.table-responsive > thead > tr > th,
.table-responsive > tbody > tr > th,
.table-responsive > thead > tr > td,
.table-responsive > tbody > tr > td {
    border: 1.5px solid #000000;
    padding: 3px;
}

.table-bordered > tbody > tr > td.active {
   background-color: transparent;
}

.table-responsive > tbody > tr > td.active {
   background-color: transparent;
}

.table td {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.table > thead > tr > th {
    padding: 3px;
}

.table-responsive td {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 3px;
}

.table th {
    text-align: center;
    padding: 2px;
}

.table-responsive th {
    text-align: center;
    padding: 3px;
}

.sorto {
  text-decoration: underline;
}

.sorto.reverse {
  text-decoration: underline;
}

tbody{
    color: black;
    font-size: 14px;
}

footer { 
    text-align: left;
    color: black;
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
    margin-left: 2%;
}

h3  {   
    text-align: center;
}

h1,h2 {   
    text-decoration: underline;  
}

select:required:invalid {
  color: darkgray
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

.body_container
{
    font-size: 16px;
    color: black;
    margin: 8px auto;
    padding: 20px;
    background-image: url("hepat.jpg");
    background-repeat: repeat-y;
    background-position: top;
    background-attachment: fixed;
    background-size: 90%;
}

input[type=text], input[type=password], input[type=number] {
    text-align:center;
    margin: 0 auto 1em auto;
    width: 70%;
    padding: 5px;
}

.pagetitle{
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
    color: black;
    padding: 18px;
}

.loginbody_container
{
    border-radius: 25px;
    background: linear-gradient(to right, rgba(97, 137, 210, 0.4), rgba(60, 113, 59, 0.5));
    padding: 20px;
    text-align: center;
    color: black;
}

/* The starting CSS styles for the fading class animation */
.fading.ng-enter {
    transition: 4s;
    opacity:0;
}

/* The finishing CSS styles for the fading class animation */
.fading.ng-enter.ng-enter-active {
    opacity:1;
}

.flash-style{
    text-align:center;
    font-size: 16px;
    margin: 0 auto 1em auto;
    width: 70%;
    padding: 5px;
}

.omaentry{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 25px;
    background: linear-gradient(to right, rgba(97, 137, 210, 0.4), rgba(60, 113, 59, 0.5));
}

span.glyphicon-sort {
    font-size: 0.8em;
}

.oma_h1{
    font-weight: bold;
    margin: 8px auto;
    font-size: 32px;
    text-decoration: underline;
}

.oma_h2{
    font-weight: bold;
    margin: 8px auto;
    font-size: 28px;
    text-decoration: underline;
}

.oma_h3{
    margin: 8px auto;
    padding: 8px;
    text-align: center;
}

.h3_bold{
    font-weight: bold;
    font-size: 32px;
}

.sortorder:after {
    content: '\2b0d';
}

.sortorder.reverse:after {
     content: '\2b0d';
}

.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}
 
.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}

.overlay{
    position: absolute;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 25%;
    font-weight: bold;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
