<ng-include src="'navbar.html'"></ng-include>

<div class="omaentry">  
    
    <h1 class="oma_h1">Lisää Leiri</h1>
    
    <form>
        <h4 class="oma_h4">Leiri</h4>
        <input type="text" class="form-control text-center center-block" style = "width:300px" placeholder="Leiri" ng-model ="Leiri"/>
        <h4 class="oma_h4">Alkaa</h4>
        <input type="text"  id="datepicker" class="form-control text-center center-block" style = "width:300px" ng-model ="Aika"/>
        <h4 class="oma_h4">Loppuu</h4>
        <input type="text"  id="datepicker2" class="form-control text-center center-block" style = "width:300px" ng-model ="Aika"/>
        <h4 class="oma_h4">Huomio</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Huomio" ng-model ="Huomio"/>
        <div class="flash-style" flash-message="2000"></div>
        <input type="submit" class='btn btn-primary' value="Lisää" ng-click="addNew()"/>
        <input Type="submit" class='btn btn-primary' value="Palaa" ng-click='back()'><br><br>
    </form>
    
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    
    <footer class="footer_text"></footer>
    
</div>