<ng-include src="'navbar.html'"></ng-include>

<div class="omaentry" data-ng-init="checkHorseNames()">  
    <h1 class="oma_h1">Lisää Terveystietoja</h1>
        
    <form>
        <h4 class="oma_h4">Hevonen</h4>
        <select class="form-control center-block" style = "width:300px; padding-left: 100px" ng-model ="Hevonen">
            <option ng-repeat="horse in horses" value="{{horse}}">
               {{horse}}
            </option>
        </select>
        <h4 class="oma_h4">Rokotukset</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:300px; text-align:center;" placeholder="yyyy.mm.dd" ng-model ="Rokotukset"/>
        <h4 class="oma_h4">Madotukset</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:300px; text-align:center;" placeholder="yyyy.mm.dd" ng-model ="Madotukset"/>
        <h4 class="oma_h4">Raspaus</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:300px; text-align:center;" placeholder="yyyy.mm.dd" ng-model ="Raspaus"/>
        <h4 class="oma_h4">Lääkitys</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Lääkitys" ng-model ="Laakitys"/>
        <h4 class="oma_h4">Yleistä</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Yleistä" ng-model ="Yleista"/>
        <div class="flash-style" flash-message="2000"></div>
        <input type="submit" class='btn btn-primary' value="Lisää" ng-click="addNew()"/>
        <input Type="submit" class='btn btn-primary' value="Palaa" ng-click='back()'><br><br>
    </form>
    <footer class="footer_text"></footer>
</div>
