<ng-include src="'navbar.html'"></ng-include>

<div class="omaentry" data-ng-init="checkHorseNames()">  
    <h1 class="oma_h1">Lisää Tunteja</h1>
        
    <form>
        <h4 class="oma_h4">Päivä</h4>
        <input type="text"  id="datepicker" class="form-control text-center center-block" style = "width:300px" placeholder="Aika" ng-model="Aika"/>        
        <h4 class="oma_h4">Hevonen</h4>
        <select class="form-control center-block" style = "width:300px; padding-left: 110px" ng-model ="Hevonen">
            <option ng-repeat="horse in horses" value="{{horse}}">
               {{horse}}
            </option>
        </select>
        <h4 class="oma_h4">Laji</h4>
        <select name="Laji" class='form-control center-block center-value' style = 'width:300px;padding-left: 115px' ng-model ="Laji">
            <option value="" disabled selected>Laji</option>
            <option value="Koulu">Koulu</option>
            <option value="Este">Este</option>
            <option value="Puomi">Puomi</option>
            <option value="Maasto">Maasto</option>
            <option value="Talutus">Talutus</option>
            <option value="Ratsutus">Ratsutus</option>
            <option value="Juoksutus">Juoksutus</option>
            <option value="Yleistunti">Yleistunti</option>
            <option value="Vammaisratsastus">Vammaisratsastus</option>
            <option value="Sos.peda">Sos.peda</option>
            <option value="Ajo">Ajo</option>
            <option value="Muu">Muu Laji</option>
        </select>
        <h4 class="oma_h4">Tunnit</h4>
        <input type="number"  min="0"  step="0.5"  class="form-control text-center center-block" style = "width:300px" placeholder="Tunnit" ng-model ="Tunnit"/>
        <h4 class="oma_h4">Huomio</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:300px" placeholder="Huomio" ng-model ="Huomio"/>
        <div class="flash-style" flash-message="2000"></div>
        <input type="submit" class='btn btn-primary' value="Lisää" ng-click="addNew()"/>
        <input Type="submit" class='btn btn-primary' value="Palaa" ng-click='back()'><br><br>
    </form>
    
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
      <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    
    <footer class="footer_text"></footer>
</div>