<ng-include src="'navbar.html'"></ng-include>

<div class="omaentry">  
    <h1 class="oma_h1">Lisää Ilmoitus</h1>
        
    <form>
        <h4 class="oma_h4">Ilmoittaja - {{personName}}</h4>
        <h4 class="oma_h4">Aika</h4>
        <input type="text" id="datepicker" class="form-control text-center center-block" style = "width:300px" ng-model="Aika"/>
        <h4 class="oma_h4">Ilmoitus</h4>
        <textarea id="text" style="width:300px; height: 200px; text-align: left" rows="1" cols="8" ng-model ="Ilmoitus"></textarea><br>
        <label>Lähetä Sähköposti Ylläpidolle:
            <input type="checkbox" ng-model="checkboxEmail">
        </label><br/>
        <input type="submit" class='btn btn-primary' value="Lisää" ng-click="addNew()"/>
        <input Type="submit" class='btn btn-primary' value="Palaa" ng-click='back()'><br><br>
    </form>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <footer class="footer_text"></footer>
</div>