<ng-include src="'navbar.html'"></ng-include>

<div class="omaentry">  
    <h1 class="oma_h1">Lisää Testejä</h1>
        
    <form>
        <h4 class="oma_h4">Test1</h4>
        <input type="text" id="datepicker"  class="form-control text-center center-block" style = "width:350px" placeholder="Test1" ng-model ="Test1"/>
        <h4 class="oma_h4">Test2</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Test2" ng-model ="Test2"/>
        <h4 class="oma_h4">Date</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Aika" ng-model="Aika"/>
        <input type="submit" class='btn btn-primary' value="Lisää" ng-click="addNew()"/>
        <input Type="submit" class='btn btn-primary' value="Palaa" ng-click='back()'>
        <div class="flash-style" flash-message="2000"></div><br><br>
    </form>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <footer class="footer_text"></footer>
</div>
