<ng-include src="'navbar.html'"></ng-include>

<div class="omaentry">  
    <h1 class="oma_h1">Lisää Uusi Käyttäjä</h1>
        
    <form>
        <h4 class="oma_h4">Käyttäjätunnus</h4>
        <input type="text" class="form-control text-center center-block" style = "width:350px" placeholder="username" ng-model ="user"/>
        <h4 class="oma_h4">Salasana</h4>
        <input type="text" class="form-control text-center center-block" style = "width:350px" placeholder="password" ng-model ="pass"/>
        <h4 class="oma_h4">Käyttöoikeus</h4>
        <select class="form-control text-center center-block" style = "width:100px; padding-left:20px " ng-model ="userclass" ng-init="userclass='basic'">
             <option ng-selected="true" value="basic">basic</option> 
             <option value="admin" >admin</option>
        </select>
        <h4 class="oma_h4">Nimi</h4>
        <input type="text" class="form-control text-center center-block" style = "width:350px" placeholder="Nimi" ng-model ="Nimi"/>
        <h4 class="oma_h4">Osoite</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Osoite" ng-model ="Osoite"/>
        <h4 class="oma_h4">Puhelin</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Puhelinnumero" ng-model ="Puhelin"/>
        <h4 class="oma_h4">Sähköposti</h4>
        <input type="text"  class="form-control text-center center-block" style = "width:350px" placeholder="Sahkoposti" ng-model ="Sahkoposti"/>
        <h4 class="oma_h4">Työsuhde alkanut</h4>
        <input type='text' id="datepicker" class="form-control text-left center-block" style = "width:350px; text-align:center;" placeholder="yyyy.mm.dd" ng-model= "Tyosuhde"/>
        <input type="submit" class='btn btn-primary' value="Lisää" ng-click="registerClicked()"/>
        <input Type="submit" class='btn btn-primary' value="Palaa" ng-click='back()'>
        <div class="flash-style" flash-message="2000"></div><br><br>
    </form>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="backInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <footer class="footer_text"></footer>
</div>
