<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="adminOnly(); readText()">
    <h1 class="oma_h1">Pehtoorin Ylläpito</h1>
    
    <button class="btn btn-primary" value="Uusi Salasana" ng-click='changePassWord()'>
        <span class="glyphicon glyphicon-edit"></span>
        Uusi Salasana
    </button><br><br>
    
    <div style="display: none" class="onlyAdmin">
        <button class="btn btn-primary" value="Lisää Käyttäjä" ng-click='addUser()'>
            <span class="glyphicon glyphicon-user"></span>
            Lisää Käyttäjä
        </button>

        <h3 style="text-decoration: underline">Muokkaa Etusivun Tekstiä</h3>       
        <button class="btn btn-primary" value="Lue" ng-click='readText()'>
            <span class="glyphicon glyphicon-open"></span>
            Lue
        </button>
        <button class="btn btn-primary" value="Tallenna" ng-click='writeText()'>
            <span class="glyphicon glyphicon-save"></span>
            Tallenna
        </button><br><br>
        
        <textarea id="data" style="width: 90%; height: 200px; text-align: center" rows="1" cols="8" ng-model ="totalText"></textarea><br>
        
        <h3 style="text-decoration: underline">Muokkaa Sähköpostin asetuksia</h3>
        <button class="btn btn-primary" value="Lue" ng-click='readEmailAddress()'>
            <span class="glyphicon glyphicon-open"></span>
            Lue Asetukset
        </button>
        <button class="btn btn-primary" value="Kirjoita" ng-click='writeEmailAddress()'>
            <span class="glyphicon glyphicon-save"></span>
            Kirjoita Asetukset
        </button>
        
        <h4 class="oma_h4">Sähköpostiosoite</h4>
        <input type="text" class="form-control text-center center-block" style = "width:350px" placeholder="address" ng-model ="emailAddress"/>
        
        <h4 class="oma_h4">Salasana</h4>
        <input type="password" class="form-control text-center center-block" style = "width:350px" placeholder="password" ng-model ="emailPass"/>
        
    </div>
    
    <div class="flash-style" flash-message="2000"></div>
    
    <footer class="footer_text"></footer>
    
</div>