<ng-include src="'navbar.html'"></ng-include>

<div class="loginbody_container">
    <h1 class="oma_h1">Leirikalenteri</h1>
    <div class="overlay">
        Nähdäksesi leirikalenterin kirjaudu ensin Pehtoorin Google tilille ja päivitä sen jälkeen tämä sivu klikkamalla yllä olevaa 
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-refresh"></span>
        </button> nappia.
    </div>
    <button class="btn btn-primary" value="Login" ng-click='loginGoogle()'>
        <span class="glyphicon glyphicon-log-in"></span>
        Google In
    </button>
    <button class="btn btn-primary" value="Reload" ng-click='showAll()'>
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <button class="btn btn-primary" value="Logout" ng-click='logoutGoogle()'>
        <span class="glyphicon glyphicon-log-out"></span>
        Google Out
    </button><br><br>
    
    <div class="responsive-iframe-container">
        <iframe src="https://calendar.google.com/calendar/embed?src=udm7mlna210naum578igu74fag%40group.calendar.google.com&ctz=Europe/Helsinki" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <footer class="footer_text"></footer>
</div>
