<ng-include src="'navbar.html'"></ng-include>

<div class="omaentry">  
    <h1 class="oma_h1">Muuta Salasana - {{username}}</h1>
        
    <form>
        <h4 class="oma_h4">Vanha Salasana</h4>
        <input type="password" class="form-control text-center center-block" style = "width:350px" placeholder="password" ng-model ="passOld"/>
        <h4 class="oma_h4">Uusi Salasana</h4>
        <input type="password" class="form-control text-center center-block" style = "width:350px" placeholder="password" ng-model ="passNew1" title="Salasana"/>
        <h4 class="oma_h4">Toista Uusi Salasana</h4>
        <input type="password" class="form-control text-center center-block" style = "width:350px" placeholder="password" ng-model ="passNew2" title="Salasana"/>
        <br>
        <input type="submit" class='btn btn-primary' value="Muuta" ng-click="changePassClicked()"/>
        <input Type="submit" class='btn btn-primary' value="Palaa" ng-click='back()'>
        <div class="flash-style" flash-message="2000"></div><br><br>
    </form>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="backInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <footer class="footer_text"></footer>
</div>