<h1 style = "text-decoration: underline">Pehtoori Demo</h1>
<br>
<h3>
Tämä on demo versio Pehtoori tallipäiväkirjasta. Voit testata ohjelmiston toimivuutta lisäämällä/muokkaamalla/poistamalla tietoja ohjelmiston eri sivuilla. Kaikki sivustolla oleva data on testidataa ja ohjelmisto on vielä kehitysvaiheessa. Ohjelmiston toiminnallisuudessa voi olla vielä puutteita eikä sitä tule käyttää mihinkään tietojen pysyvään tallennukseen. Ohjelmiston toiminta voi muuttua uusien kehitysversioden myötä ja tallennettu data voidaan poistaa ilman eri ilmoitusta.
<br><br>

Ohjelmiston lähdekoodi on nähtävillä <a href="https://bitbucket.org/jaleskinen/pehtoori" target="_blank">bitbucketin</a> versionhallinnassa osoitteessa:
https://bitbucket.org/jaleskinen/pehtoori.
<br><br>
Jos huomaat ohjelmiston toiminnassa jotain puutteita tai sinulla on kehitys- tai parannusideoita, niin voit ilmoittaa niistä ohjelmiston kehittäjälle joko alla olevaa "Palaute" painiketta klikkaamalla tai lähettämällä sähköpostia osoitteeseen: leskinenjarmo@gmail.com.
</h3>
<br><br>

<form method="post" action="mailto:leskinenjarmo@gmail.com" >
<input type="submit" class='btn btn-primary'  value="Palaute" /> 
</form>
<footer class="footer_text"></footer>
