<ng-include src="'navbar.html'"></ng-include>

<div class="loginbody_container">
    <h1 class="oma_h1">Hevosten Ruokinta</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th ng-click="order('Hevonen')">Hevonen  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th>Aamuruoka</th>
            <th>Päiväruoka</th>
            <th>Iltaruoka</th>
            <th ng-click="order('Huomio')">Huomio  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="horse in collectionData | orderBy:'Hevonen' | orderBy:predicate:reverse" ng-click='modify(horse._id)'>
            <td>{{horse.Hevonen}}</td>
            <td>{{horse.Aamuruoka}}</td>
            <td>{{horse.Paivaruoka}}</td>
            <td>{{horse.Iltaruoka}}</td>
            <td>{{horse.Huomio}}</td>
          </tr>
        </tbody>
    </table>
    </div>
    <button class="btn btn-primary" value="Lisää Ruokinta" ng-click='add()'>
        <span class="glyphicon glyphicon-grain"></span>
        Lisää Ruokinta
    </button>
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
</div>
  