<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container">
    <h1 class="oma_h1">Hevosten Hyvinvointi</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th ng-click="order('Hevonen')">Hevonen  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th ng-click="order('Hieronta')">Hieronta  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th ng-click="order('Kengitys')">Kengitys  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th>Yleistä</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="horse in collectionData | orderBy:'Hevonen' | orderBy:predicate:reverse" ng-click='modify(horse._id)'>
            <td>{{horse.Hevonen}}</td>
            <td>{{horse.Hieronta}}</td>
            <td>{{horse.Kengitys}}</td>
            <td>{{horse.Yleista}}</td>
          </tr>
        </tbody>
    </table>
    </div>
    <button class="btn btn-primary" value="Lisää Hyvinvointitietoja" ng-click='add()'>
        <span class="glyphicon glyphicon-heart-empty"></span>
        Lisää Hyvinvointitietoja
    </button>
    
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
</div>