<ng-include src="'navbar.html'"></ng-include>

<div class="loginbody_container ">
    <h1 class="oma_h1">Hevosten Varusteet</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th ng-click="order('Hevonen')">Hevonen  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th>Satula</th>
            <th>Suitset</th>
            <th>Muut</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="horse in collectionData | orderBy:'Hevonen' | orderBy:predicate:reverse" ng-click='modify(horse._id)'>
            <td>{{horse.Hevonen}}</td>
            <td>{{horse.Satula}}</td>
            <td>{{horse.Suitset}}</td>
            <td>{{horse.Muut}}</td>
          </tr>
        </tbody>
    </table>
    </div>
    <button class="btn btn-primary" value="Lisää Varustetietoja" ng-click='add()'>
        <span class="glyphicon glyphicon-paperclip"></span>
        Lisää Varustetietoja
    </button>
    
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
</div>