<div class="loginbody_container">
    <h3 class="h3_bold" style="text-decoration: underline">Pehtoori</h3>
    <h3 class="oma_h3"><p>Pehtoori on hevostallin työntekijöille ja omistajille suunnattu sivusto, jonka tarkoitus on helpottaa tallin päivittäisten rutiinien hoitamista.
        Pehtoorin avulla voit pitää kirjaa ja suunnitella tallin, työntekijöiden sekä hevosten päivittäiseen toimintaan liittyviä asioita.
        Pehtoori on selainpohjainen ohjelmisto jonka käyttö onnistuu useimmilla päätelaittella, joilla on mahdollista saada yhteys internettiin.<br><br>
        Jos haluat kokeilla demo versiota ohjelmistosta niin lähetä sähköpostia ohjelmiston kehittäjälle: leskinenjarmo at gmail.com<br>
        
        </p></h3>
    <h2 class="oma_h2">Kirjaudu Pehtooriin</h2> 
    <form>
        <input type="text" placeholder="username" autofocus="autofocus" class="form-control" style = "width:300px" ng-model="user">
        <input type="password" placeholder="password" class="form-control" style = "width:300px" ng-model='pass'>
        <input type="submit" value="Login" class="btn btn-primary" ng-click='loginClicked()'/>
    </form><br>
    <div class="flash-style" flash-message="5000"></div>
    <footer class="footer_text"></footer>
</div>