<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="modifyData()">
    <h2>Päivitä Tuntikalenterin Tunteja</h2>
    <h4>Kellonaika</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Kellonaika"/>
    <h4>Maanantai</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Maanantai"/>
    <h4>Tiistai</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Tiistai"/>
    <h4>Keskiviikko</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Keskiviikko"/>
    <h4>Torstai</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Torstai"/>
    <h4>Perjantai</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Perjantai"/>
    <h4>Lauantai</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Lauantai"/>
    <h4>Sunnuntai</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Sunnuntai"/>
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update()'/>
    <input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    <input type='button' class='btn btn-primary' value='Palaa' ng-click='back()'/>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <div id="dialog-delete" title="Tietojen poistaminen!">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko varmasti poistaa nämä tiedot?</p>
    </div>
    <footer class="footer_text"></footer>
</div>