<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="modifyData()">
    <h2>Päivitä Ilmoituksia</h2>
    <h4>Aika</h4>
    <input type='text' id="datepicker" class="form-control text-left" style = "width:250px" placeholder="yyyy.mm.dd"ng-model= "Aika"/>
    <h4>Ilmoittaja</h4>
    <input disabled="disabled" type='text' class="form-control text-left" style = "width:250px" ng-model= "Ilmoittaja"/>
    <h4>Ilmoitus</h4>
    <textarea id="text" style="width:300px; height: 200px; text-align: left" rows="1" cols="8" ng-model ="Ilmoitus"></textarea><br><br>
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update()'/>
    <input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    <input type='button' class='btn btn-primary' value='Palaa' ng-click='back()'/>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <div id="dialog-delete" title="Tietojen poistaminen!">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko varmasti poistaa nämä tiedot?</p>
    </div>
    <footer class="footer_text"></footer>
</div>