<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="modifyData()" >
    <h2>Päivitä Testejä</h2>
    <h4>Test1</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Test1"/>
    <h4>Test2</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Test2"/>
    <h4>Date</h4>
    <input type='text' id="datepicker" class="form-control text-left" style = "width:350px" ng-model= "Aika"/>
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update()'/>
    <input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    <input type='button' class='btn btn-primary' value='Palaa' ng-click='back()'/>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <div id="dialog-delete" title="Tietojen poistaminen!">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko varmasti poistaa nämä tiedot?</p>
    </div>
    <footer class="footer_text"></footer>
</div>