<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="modifyData()">
    <h2>Päivitä Hevosen Tietoja</h2>
    <h4>Nimi</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Nimi"/>
    <h4>Kutsumanimi</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Kutsumanimi"/>
    <h4>Syntymäaika</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Syntymaaika"/>
    <h4>Sukuposti</h4>
    <a class="btn btn-primary btn-sm" href="http://www.sukuposti.net/hevonen/hae?PikahakuForm%5Bnimi%5D={{Nimi}}&yt0=Hae" role="button" target="_blank">Hae Linkki</a>
    <input type='text' class="form-control text-left" style = "width:450px" ng-model= "Sukuposti"/><br>
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update()'/>
    <input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    <input type='button' class='btn btn-primary' value='Palaa' ng-click='back()'/>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <div id="dialog-delete" title="Tietojen poistaminen!">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko varmasti poistaa nämä tiedot?</p>
    </div>
    <footer class="footer_text"></footer>
</div>