<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="adminOnly(); modifyData()">
    <h2>Päivitä Työntekijöiden Tietoja</h2>
    <h4>Nimi</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Nimi"/>
    <h4>Osoite</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Osoite"/>
    <h4>Puhelinnumero</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Puhelin"/>
    <h4>Sahkoposti</h4>
    <input type='text' class="form-control text-left" style = "width:350px" ng-model= "Sahkoposti"/>
    
    <div >
        <h4 class="oma_h4">Työsuhde alkanut</h4>
        <input type="text" id="datepicker" class="form-control text-center center-block" style = "width:350px" placeholder="yyyy.mm.dd" ng-model ="Tyosuhde"/>
        <h4 class="oma_h4">Pehtoorin Käyttöoikeus</h4>
        <select required name="userclass" class='form-control center-block center-value' style = 'width:250px;padding-left: 100px' ng-model ="userclass">
            <option value="" disabled selected>userclass</option>
            <option value="basic">basic</option>
            <option value="admin">admin</option>
        </select>
        <br>
    </div>
    
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='updatePerson()'/>
    <input type='button' class='btn btn-primary' value='Palaa' ng-click='back()'/>
    
    <div style="display: none" class="onlyAdmin">
        <br><input type='button' class='btn btn-primary' value='Poista' ng-click='deletePerson()'/>
    </div>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <div id="dialog-delete" title="Tietojen poistaminen!">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko varmasti poistaa nämä tiedot?</p>
    </div>
    
    <footer class="footer_text"></footer>
</div>