<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="modifyData()">
    <h2>Päivitä Työtuntimerkintöjä</h2>
    <h3>Työntekijä - {{Ilmoittaja}}</h3>
    <h4>Päivä</h4>
    <input type='text' id="datepicker" class="form-control text-left" style = "width:250px" placeholder="yyyy.mm.dd" ng-model= "Paiva"/>
    <h4>Tehtävä</h4>    
    <input type="text" class="form-control text-center center-block" style = "width:250px" list="taskname" ng-model ="Tehtava"/>
        <datalist id="taskname">
            <option value="" disabled selected>Tehtävä</option>
            <option value="Asiakas">Asiakas</option>
            <option value="Ratsutus">Ratsutus</option>
            <option value="Juoksutus">Juoksutus</option>
            <option value="Toimisto">Toimisto</option>
            <option value="Talli">Talli</option>
            <option value="Muut työt">Muut työt</option>
        </datalist>
    <h4>Tunnit</h4>
    <input type="number"  min="0"  step="0.5" class="form-control text-left" style = "width:250px" ng-model= "Tunnit"/>
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update(person._id)'/>
    <input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    <input type='button' class='btn btn-primary' value='Palaa' ng-click='back()'/>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <div id="dialog-delete" title="Tietojen poistaminen!">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko varmasti poistaa nämä tiedot?</p>
    </div>
    <footer class="footer_text"></footer>
</div>