<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="modifyData()">
    <h2>Päivitä Leiritietoja</h2>
    <h4>Leiri</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Leiri"/>
    <h4>Alkaa</h4>
    <input type='text' id="datepicker" class="form-control text-left" style = "width:250px" placeholder="yyyy.mm.dd" ng-model= "Alku"/>
    <h4>Lopuu</h4>
    <input type='text' id="datepicker2" class="form-control text-left" style = "width:250px" placeholder="yyyy.mm.dd" ng-model= "Loppu"/>
    <h4>Huomio</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Huomio"/>
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update(Leiri._id)'/>
    <input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    <input type='button' class='btn btn-primary' value='Palaa' ng-click='back()'/>
    <div id="dialog-confirm" title="Tietoja ei ole tallennettu!" data-ng-init="searchInit()">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko poistua tallentamatta tietoja?</p>
    </div>
    <div id="dialog-delete" title="Tietojen poistaminen!">
        <p><span class="ui-icon ui-icon-alert"></span>Haluatko varmasti poistaa nämä tiedot?</p>
    </div>
    <footer class="footer_text"></footer>
</div>