<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#/main">Pehtoori <span class="glyphicon glyphicon-info-sign"></span></a>     
    </div>
    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Hevoset <span class="glyphicon glyphicon-knight"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#/horse">Esittely</a></li>
            <li><a href="#/feedHorse">Ruokinta</a></li>
            <li><a href="#/paddoc">Tarhaus</a></li>
            <li><a href="#/horseHour">Työtunnit</a></li>
            <li><a href="#/healthHorse">Terveys ja Hyvinvointi</a></li>
            <li><a href="#/horseEquipment">Varusteet</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Henkilöt <span class="glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/person">Henkilökunta</a></li>
            <li><a href="#/personHour">Työtunnit</a></li>
            <li><a href="#/contact">Kontaktit</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Talli <span class="glyphicon glyphicon-home"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/todo">Ilmoitukset</a></li>
            <li><a href="#/stableCalendar">Tuntikalenteri</a></li>
            <li><a href="#/horsePasturage">Laidun Omat</a></li>
            <li><a href="#/horsePasturageGuest">Laidun Yksityiset</a></li>
            <li><a href="#/camp">Leirit</a></li>
            <li><a href="#/campGoogle">Leirit Google</a></li>
          </ul>
        </li>
        <li><a href="#/admin">Ylläpito <span class="glyphicon glyphicon-cog"></span></a></li>
        <li><a ng-click='printPage()'>Print <span class="glyphicon glyphicon-print"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click='logOut()' ref="/logout">Log Out <span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div>
  </div>
</nav>