<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container">
    <h1 class="oma_h1">Hevosten Tarhaukset</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th ng-click="order('Hevonen')">Hevonen  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th ng-click="order('Tarha')">Tarha  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th ng-click="order('Lauma')">Lauma  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th ng-click="order('Loimitus')">Loimitus  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th ng-click="order('Huomio')">Huomio  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="horse in collectionData | orderBy:'Hevonen' | orderBy:predicate:reverse" ng-click='modify(horse._id)'>
            <td>{{horse.Hevonen}}</td>
            <td>{{horse.Tarha}}</td>
            <td>{{horse.Lauma}}</td>
            <td>{{horse.Loimi}}</td>
            <td>{{horse.Huomio}}</td>
          </tr>
        </tbody>
    </table>
    </div>
    <button class="btn btn-primary" value="Lisää Tarhaus" ng-click='add()'>
        <span class="glyphicon glyphicon-retweet"></span>
        Lisää Tarhaus
    </button>
    
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
</div>
