<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container" data-ng-init="adminOnly()">
    <div id="dvData0">
        <h1 class="oma_h1">Työntekijän tunnit</h1>
        <h2 class="oma_h2">{{personName}} {{startTime}} {{endTime}}</h2>
    </div>
    <h3><strong><u>Tunnit yhteensä</u></strong></h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Toimisto</th>
                <th>Asiakas</th>
                <th>Ratsutus</th>
                <th>Juoksutus</th>
                <th>Talli</th>
                <th>Muut työt</th>
                <th>Yhteensä</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{totalOffice}}</td>
                <td>{{totalCustomer}}</td>
                <td>{{totalRiding}}</td>
                <td>{{totalRunning}}</td>
                <td>{{totalStable}}</td>
                <td>{{totalOther}}</td>
                <td>{{totalHours}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div id="dvData" >
        <h3><strong><u>Tuntierittely</u></strong></h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th ng-click="order('Ilmoittaja')">Työntekijä <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th ng-click="order('Paiva')">Päivä <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th ng-click="order('Tehtava')">Tehtävä <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th>Tunnit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="person in collectionData | orderBy:'-Paiva' | orderBy:predicate:reverse" ng-click='modify(person._id)'>
                    <td>{{person.Ilmoittaja}}</td>
                    <td>{{person.Paiva}}</td>
                    <td>{{person.Tehtava}}</td>
                    <td>{{person.Tunnit}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button class="btn btn-primary" value="Lisää Tunteja" ng-click='add()'>
        <span class="glyphicon glyphicon-time"></span>
        Lisää Työtunteja
    </button>
    <button class="btn btn-primary" value="Hae Aikaväliltä" ng-click='timeSearch()'>
        <span class="glyphicon glyphicon-search"></span>
        Hae Aikaväliltä
    </button>
    <button class="btn btn-primary" value="showAll" ng-click='showAll()'>
        <span class="glyphicon glyphicon-search"></span>
        Reset
    </button><br><br>
    <button class="btn btn-primary" value="showAll" ng-click='btnExport()'>
        <span class="glyphicon glyphicon-list-alt"></span>
        Excel
    </button>
    <br><br>
    <div style="display: none" class="onlyAdmin">
        <button class="btn btn-primary" value="Hae Kaikkien Tunnit" ng-click='allHourSearch()'>
            <span class="glyphicon glyphicon-search"></span>
            Hae Kaikkien Tunnit
        </button>
        <button class="btn btn-primary" value="Hae Tunnit Nimellä" ng-click='searchPerson()'>
            <span class="glyphicon glyphicon-search"></span>
            Hae Nimellä
        </button>
    </div>

    <div id="dialog-form-name-person" title="Hae Tunteja:"  data-ng-init="searchInit()">
      <form>
        <fieldset>
            <!--At first create dummy input to prevent datepicker automatic open-->
            <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/>
            <label>Haun Alkupäivä</label>
            <input type='text' id="datepicker5" class="form-control text-left" style = "width:250px" ng-model= "Aika"/>
            <label>Haun Loppupäivä</label>
            <input type='text' id="datepicker6" class="form-control text-left" style = "width:250px" ng-model= "Aika"/>
            <label>Haun Kohde</label>
            <select class="form-control center-block" style = "width:250px" id="namepickerPerson">
                <option ng-repeat="person in searchPersons" value="{{person}}">
                   {{person}}
                </option>
            </select>
        </fieldset>
      </form>
    </div>
    
    <div id="dialog-form" title="Hae Tunteja:">
      <form>
        <fieldset>
            <!--At first create dummy input to prevent datepicker automatic open-->
            <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/>
            <label>Haun Alkupäivä</label>
            <input type='text' id="datepicker" class="form-control text-left" style = "width:250px" ng-model= "Aika"/>
            <label>Haun Loppupäivä</label>
            <input type='text' id="datepicker2" class="form-control text-left" style = "width:250px" ng-model= "Aika"/>
        </fieldset>
      </form>
    </div>
    
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
    
</div>