<!--<ng-include src="'navbar.html'"></ng-include>-->
<ng-include src="'navbar.html'"></ng-include>
        <title>Pehtoori - Person </title>
<div class="loginbody_container" data-ng-init="adminOnly()">
    <h1 class="oma_h1">Henkilökunnan Yhteystiedot</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th ng-click="order('Nimi')">Nimi <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                <th>Osoite</th>
                <th>Puhelin </th>
                <th>Sähköposti </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in collectionData | orderBy:'Nimi' | orderBy:predicate:reverse" ng-click='modify(person._id)' ng-class="onlyAdmin(person)">
                <td>{{person.Nimi}}</td>
                <td>{{person.Osoite}}</td>
                <td>{{person.Puhelin}}</td>
                <td><input type="button" class='btn btn-info' value="{{person.Sahkoposti || 'Email osoite puuttuu'}}" ng-click ='emailClicked(person.Sahkoposti); $event.stopPropagation();'></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div style="display: none" class="onlyAdmin">
        <h1 class="oma_h1">Työsuhteet</h1>
        <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-click="order('Nimi')">Nimi <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                    <th ng-click="order('Tyosuhde')">Työsuhde alkanut <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in collectionData | orderBy:'Nimi' | orderBy:predicate:reverse" ng-click='modify(person._id)' ng-class="onlyAdmin(person)">
                    <td>{{person.Nimi}}</td>
                    <td>{{person.Tyosuhde}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <form id="email_form" method="post"></form>  
    <div class="flash-style" flash-message="2000"></div>    
    <footer class="footer_text"></footer>
</div>