<ng-include src="'navbar.html'"></ng-include>
<div class="loginbody_container">
    <h1 class="oma_h1">Tallin Ilmoitustaulu - {{Paiva}}</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th ng-click="order('Aika')">Päivä <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th ng-click="order('Ilmoittaja')">Ilmoittaja  <span class="glyphicon glyphicon-sort" ng-class="{reverse:reverse}"></span></th>
            <th>Ilmoitus</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="person in collectionData | orderBy:'-Aika' | orderBy:predicate:reverse | itemsPerPage:20" ng-click='modify(person._id)'>
            <td>{{person.Aika}}</td>
            <td>{{person.Ilmoittaja}}</td>
            <td>{{person.Ilmoitus}}</td>  
          </tr>
        </tbody>
    </table>
    <div class="noprint">
        <dir-pagination-controls
            max-size="20"
            direction-links="true"
            boundary-links="false" >
        </dir-pagination-controls>
    </div>
    </div>
    <button class="btn btn-primary" value="Lisää Ilmoitus" ng-click='add()'>
        <span class="glyphicon glyphicon-bell"></span>
        Lisää Ilmoitus
    </button>
    <div class="sending"></div>
    <div class="flash-style" flash-message="2000"></div>
    <footer class="footer_text"></footer>
</div>